<h1>Relatório de Inseminações</h1>
<div class="row">
  <div class="input-field col s2">
    <select materialize="material_select">
      <option value="" disabled selected>Escolha um opção</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <label>Brinco</label>
  </div>
  <div class="input-field col s2">
    <select materialize="material_select">
      <option value="" disabled selected>Escolha um opção</option>
      <option value="1">Rebanho 1</option>
      <option value="2">Rebanho 2</option>
      <option value="3">Rebanho 3</option>
    </select>
    <label>Raça</label>
  </div> 
  <div class="input-field col s2">
    <input materialize="pickadate" format="dd/mm/yyyy" id="report-date" type="date" class="datepicker">
    <label for="report-date">Data</label>
  </div>   
</div>
<div class="row">
  <div class="input-field col s3">
    <select materialize="material_select">
      <option value="" disabled selected>Escolha um opção</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <label>Veterinário</label>
  </div>
  <div class="input-field col s3">
    <select materialize="material_select">
      <option value="" disabled selected>Escolha um opção</option>
      <option value="1">Rebanho 1</option>
      <option value="2">Rebanho 2</option>
      <option value="3">Rebanho 3</option>
    </select>
    <label>Inseminador</label>
  </div>  
</div>
<div [hidden]="tableHidden" class="row">
  <table class="bordered col s12">
    <thead>
      <tr>
        <th>Brinco</th>
        <th>Raça Receptor</th>
        <th>Raça Doador</th>
        <th>Inseminador</th>
        <th>Veterinário</th>
        <th>Data de Inseminação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>132456</td>
        <td>Jersey</td>
        <td>Jersey</td>
        <td>João</td>
        <td>Pedro</td>
        <td>01/01/2015</td>
      </tr> 
      <tr>
        <td>132456</td>
        <td>Jersey</td>
        <td>Jersey</td>
        <td>João</td>
        <td>Pedro</td>
        <td>01/01/2015</td>
      </tr> 
      <tr>
        <td>132456</td>
        <td>Jersey</td>
        <td>Jersey</td>
        <td>João</td>
        <td>Pedro</td>
        <td>01/01/2015</td>
      </tr> 
      <tr>
        <td>132456</td>
        <td>Jersey</td>
        <td>Jersey</td>
        <td>João</td>
        <td>Pedro</td>
        <td>01/01/2015</td>
      </tr>           
    </tbody>
  </table>
</div>
<div class="row">
  <button *ngIf="!tableHidden" class="waves-effect waves-light btn" (click)="onSave();">Imprimir</button>
  <button *ngIf="tableHidden" class="waves-effect waves-light btn" (click)="onClick();">Emitir</button>
  <button class="waves-effect waves-light btn red lighten-1" (click)="onCancel();">Cancelar</button>  
</div>