<nav>
  <div class="nav-wrapper teal">
    <a routerLink="" class="brand-logo">
      SRB
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="dropdown-button" data-activates="dropdown-user">
          Usuário
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<ul id="dropdown-user" class="dropdown-content">
  <li><a routerLink="screen-under-construction">Configurações</a></li>
  <li><a routerLink="login">Sair</a></li>
</ul>