<nav>
  <div class="nav-wrapper teal">
    <a routerLink="" class="brand-logo">
      SRB
    </a>
    <ul class="right hide-on-med-and-down">
      <li (click)="onDropdown();">
        <a class="dropdown-button">
          Usuário
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<ul [hidden]="isDropdown" class="app-dropdown-content">
  <li (click)="onDropdown();"><a routerLink="screen-under-construction">Configurações</a></li>
  <li><a (click)="logout();">Sair</a></li>
</ul>