<h1>Cadastro de Rebanhos</h1>
<div class="row">
  <div class="input-field col s6">
    <input id="rebanho-name" type="text" class="validate">
    <label for="rebanho-name">Nome do rebanho</label>
  </div>
</div> 
<div [hidden]="tableHidden" class="row">
  <table class="bordered col s12">
    <thead>
      <tr>
        <th>Brinco</th>
        <th>Raça</th>
        <th>Sexo</th>
        <th>Nascimento</th>
        <th>Observações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>132456</td>
        <td>Jersey</td>
        <td>Masculino</td>
        <td>01/01/2015</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      </tr> 
      <tr>
        <td>132457</td>
        <td>Jersey</td>
        <td>Masculino</td>
        <td>01/01/2015</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      </tr> 
      <tr>
        <td>132458</td>
        <td>Jersey</td>
        <td>Masculino</td>
        <td>01/01/2015</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      </tr> 
      <tr>
        <td>132459</td>
        <td>Jersey</td>
        <td>Masculino</td>
        <td>01/01/2015</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      </tr>                        
    </tbody>
  </table>
</div>
<div class="row">
  <button *ngIf="!tableHidden" class="waves-effect waves-light btn" >Cadastrar</button>
  <button *ngIf="tableHidden" class="waves-effect waves-light btn" (click)="onClick();">Adicionar Bovinos</button>
  <button class="waves-effect waves-light btn red lighten-1" (click)="onCancel();">Cancelar</button>
</div>
