<div id="painel" class="row">
  <div class="col s12 m6">
    <div class="card grey-text text-darken-4">
      <div class="card-content">
        <span id="title" class="card-title teal-text">Logar</span>
        <div class="input-field col s12">
          <input id="username" type="text" class="validate">
          <label for="username">Usuário</label>
        </div>        
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Senha</label>
        </div>   
        <a id="forget-password" class="waves-effect teal-text waves-teal btn-flat app-full">Esqueceu sua senha?</a>
      </div>
      <div class="card-action s12">
        <button class="waves-effect waves-light btn app-full">Entrar</button>
      </div>
    </div>
  </div>
</div>