<ul class="root-list">
  <li>
    <div (click)="onClickRegister();">
      <img src="/assets/form.svg" alt="form">
      Cadastros
    </div>
    <ul class="sub-list" [hidden]="!optionRegisterIsSelected">
      <li>
        <img src="/assets/cow-silhouette.svg" alt="cow">
        <a routerLink="screen-under-construction">Bovinos</a>
      </li>
      <li>
        <img src="/assets/syringe.svg" alt="syringe">
        <a routerLink="screen-under-construction">Inseminações</a>
      </li>
      <li>
        <img src="/assets/cow-silhouette.svg" alt="cow">
        <a href="">Rebanhos</a>
      </li>
      <li>
        <img src="/assets/man-user.svg" alt="syringe">
        <a href="">Inseminadores</a>
      </li>
    </ul>
  </li>
  <li>
    <div (click)="onClickReport();">
      <img src="/assets/pie-chart.svg" alt="pie chart">
      Relatórios
    </div>
    <ul class="sub-list" [hidden]="!optionReportIsSelected">
      <li>
        <img src="/assets/cow-silhouette.svg" alt="cow">
        <a href="">Rebanhos</a>
      </li>
      <li>
        <img src="/assets/syringe.svg" alt="syringe">
        <a href="">Inseminações</a>
      </li>
    </ul>
  </li>
</ul>