<ul class="root-list">
  <li>
    <img src="/assets/form.svg" alt="form">
    Cadastros
    <ul class="sub-list">
      <li><a href="">Cadastro de Bovinos</a></li>
      <li><a href="">Cadastro de Inseminações</a></li>
      <li><a href="">Cadastro de Rebanhos</a></li>
      <li><a href="">Cadastro de Ineminadores</a></li>
    </ul>
  </li>
  <li>
    <img src="/assets/pie-chart.svg" alt="pie chart">
    Relatórios
    <ul class="sub-list">
      <li><a href="">Relatório de Rebanhos</a></li>
      <li><a href="">Relatório de Inseminações</a></li>
    </ul>
  </li>
</ul>