<h1>Relatório de Rebanhos</h1>
<div class="row">
  <div class="input-field col s2">
    <select materialize="material_select">
      <option value="" disabled selected>Escolha um opção</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <label>ID</label>
  </div>
  <div class="input-field col s2">
    <select materialize="material_select">
      <option value="" disabled selected>Escolha um opção</option>
      <option value="1">Rebanho 1</option>
      <option value="2">Rebanho 2</option>
      <option value="3">Rebanho 3</option>
    </select>
    <label>Rebanho</label>
  </div>  
</div>
<div class="row">
  <button class="waves-effect waves-light btn">Emitir</button>
  <button class="waves-effect waves-light btn red lighten-1" (click)="onCancel();">Cancelar</button>  
</div>